<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mine Sweeping</title>
<!--    import the library-->
    <script src="lib/jquery.js"></script>
    <script src="lib/vue.js"></script>
<!--    import the util-->
    <script src="js/util/util.js"></script>
<!--    css importer-->
    <link rel="stylesheet" href="css/component.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <!--the total game div-->
    <div id="game">
        <div>
            <button @click="btnOperateClick" class="btnOperate">{{strBtnOperate}}</button>
        </div>
        <div class="operationBoard">
            <div class="inputDiv">
                Side Lens: <input type="text" v-model.number="squareSide">
            </div>
            <div class="inputDiv">
                Num Mine: <input type="text" v-model.number="numMine">
            </div>
        </div>
        <div class="gameBoard">
                <div v-for="lx in squareSide">
                    <block v-for="ly in squareSide" :x="lx-1" :y="ly-1" word="P"></block>
                </div>
        </div>
        
    </div>
    <!--    import the game object-->
    <script src="js/util/game.js"></script>
    <!--    import the main-->
    <script src="js/main.js"></script>
</body>
</html>