<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mine Sweeping</title>
    <script src="lib/jquery.js"></script>
    <script src="lib/vue.js"></script>
    <script src="js/util/util.js"></script>
</head>
<body>
<div id="game">
    <button @click="startGame">sg</button>
    <div>
        <div v-for="lx in squareSide">
            <block v-for="ly in squareSide" :x="lx-1" :y="ly-1" word="P"></block>
        </div>
    </div>
    <div class="mainGame">

    </div>
    <div class="answerBoard" v-html="backStr"></div>
</div>
<script src="js/util/game.js"></script>
<script src="js/main.js"></script>
</body>
</html>